TOPIC: String Based Assignment Problem
1. Write a program to reverse a string.

In [4]:
def reverse_string(input_string):     # def: This keyword is used to declare the beginning of a function definition.
    return input_string[::-1]   # ::-1 is used for reverse the string

# Input string from the user
user_input = input("Enter a string: ")

# Reversing the string
reversed_string = reverse_string(user_input)

print("Reversed string:", reversed_string)

Enter a string:  nskjddkjsd

Reversed string: dsjkddjksn

2. Check if a string is a palindrome.

In [11]:
def is_palindrome(string):
    return string == string[::-1] # shweta == atewhs it will compare both string

# Input string from the user
user_input = input("Enter a string: ")

if is_palindrome(user_input):
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

Enter a string:  nitin

It's a palindrome!

3. Convert a string to uppercase.

In [14]:
input_string = input("Enter String")
upper_string = input_string.upper() # upper() used to convert string entire string in upper case
                     
print("upper string:" , upper_string)

enter string shweta

upper string: SHWETA

4. Convert a string to lowercase.

In [2]:
input_string = input("Enter String")                     
lower_string = input_string.lower() # lower() used to convert entire string into lower case

print("lower string:", lower_string)

Enter String SHWETA

lower string: shweta

5. Count the number of vowels in a string.

In [9]:
input_string = input("Enter String")

vowels = "aeiouAEIOU" # These are vowels in upper and lower case
count = 0

for character in input_string:  #The use of in is to check if a value is present in a sequence
    if character in vowels:
        count += 1        
        
print("Number of vowels in string", count)

Enter String shweta

Number of vowels in string 2

6. Count the number of consonants in a string.

In [14]:
input_String =input("Enter String")

consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ" # List of consonants accepet vowels :"aeiou"
count=0

for character in input_string: #The use of in is to check if a value is present in a sequence
    if character in consonants:
        count +=1

print("Number of vowels in string", count)

Enter String shweta

Number of vowels in string 4

7. Remove all whitespaces from a string.

In [16]:
input_string = input("Enter String")
white_space = input_string.replace(" ", "") # replace is use to replace the space with, without space of string

print("String without whitespace:", white_space)

Enter String shweta s h weta

String without whitespace: shwetashweta

8. Find the length of a string without using the `len()` function.

In [4]:
input_string = input("Enter String:") 
count = 0 # initially count is o

for i in input_string:
    count = count+1  # count value is incement by 1 like 0=0+1
    
print("length of stringis:")
print(count)

Enter String: Shweta

length of stringis:
6

9. Check if a string contains a specific word.

In [7]:
def contains_word(input_string, target_word):
    return target_word in input_string

user_input = input("Enter a string: ") # here we enter string
search_word = input("Enter the word to search for: ") # here we search word

if contains_word(user_input, search_word):  # it check the entered word and existing word
    print(f"The string contains '{search_word}'.")
else:
    print(f"The string does not contain '{search_word}'.")

Enter a string:  Shweta Nimbenni
Enter the word to search for:  Kadganche

The string does not contain 'Kadganche'.

10. Replace a word in a string with another word.

In [3]:
def replace_word(input_string, old_string, new_string): # def is keyword used to define function
  return input_string.replace(old_string, new_string)
    
user_input = input("Enter String")
old_string = input("Enter Old String")
new_string = input("Enter New String")

new_string = replace_word(user_input, old_string, new_string) # here it will take input then replace new word with old word
print("Modified String:", new_string)

Enter String Shweta Nimbenni
Enter Old String Nimbenni
Enter New String Kadganche

Modified String: Shweta Kadganche

11. Count the occurrences of a word in a string.

In [5]:
def word_count(str):
    counts = dict()  # # Initialize an empty dictionary
    words = str.split() # Split the input string into words

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

input_string = input("Enter string")

print( word_count(input_string))

Enter string shweta shweta Kadganche Kadganche Nimbenni

{'shweta': 2, 'Kadganche': 2, 'Nimbenni': 1}

12. Find the first occurrence of a word in a string.

In [11]:
def find_first_occurrence(input_string, target_word):
    return input_string.lower().find(target_word.lower()) #WThe find() or index() methods to search for a substring in a string, they return the index (position) at which the substring is found. If the substring is not found, they return -1.

user_input = input("Enter a string: ")
search_word = input("Enter the word to search for: ")

first_occurrence = find_first_occurrence(user_input, search_word)

if first_occurrence != -1: # != -1 is used to check if a value is not equal to -1
    print(f"The word '{search_word}' first occurs at index {first_occurrence}.")
else:
    print(f"The word '{search_word}' was not found in the string.")

Enter a string:  Shweta
Enter the word to search for:  s

The word 's' first occurs at index 0.

13. Find the last occurrence of a word in a string.

In [12]:
def find_last_occurrence(input_string, target_word):
    return input_string.lower().rfind(target_word.lower()) #These methods are similar to find() and index(), but they start searching from the end of the string

user_input = input("Enter a string: ")
search_word = input("Enter the word to search for: ")

last_occurrence = find_last_occurrence(user_input, search_word)

if last_occurrence != -1:
    print(f"The word '{search_word}' last occurs at index {last_occurrence}.")
else:
    print(f"The word '{search_word}' was not found in the string.")

Enter a string:  ShwetaKadganche
Enter the word to search for:  a

The word 'a' last occurs at index 10.

14. Split a string into a list of words.

In [17]:
input_string = input("Enter String") #Each word is separated by whitespace characters

split_string = input_string.split()

print("The Splited String is:", split_string)

Enter String My name is shweta

The Splited String is: ['My', 'name', 'is', 'shweta']

15. Join a list of words into a string.

In [26]:
word_list = ['Hello,', 'this', 'is', 'a', 'test.']

# Join the list of words into a string
joined_string = ' '.join(word_list) #The join() method takes an iterable (like a list) and concatenates its elements using the specified separator

print("Joined string:", joined_string)

Joined string: Hello, this is a test.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [28]:
input_string = input("Enter a string with spaces: ")

# Replace spaces with underscores
underscored_string = input_string.replace(" ", "_")

print("String with underscores:", underscored_string)

Enter a string with spaces:  sh wet a

String with underscores: sh_wet_a

17. Check if a string starts with a specific word or phrase.

In [31]:
input_string = input("Enter a string: ")
start_phrase = input("Enter the phrase to check: ")

if input_string.startswith(start_phrase):
    print(f"The string starts with '{start_phrase}'.")
else:
    print(f"The string does not start with '{start_phrase}'.")

Enter a string:  shweta
Enter the phrase to check:  shweta

The string starts with 'shweta'.

18. Check if a string ends with a specific word or phrase.

In [34]:
input_string = input("Enter a string: ")
end_phrase = input("Enter the phrase to check: ")

if input_string.endswith(end_phrase):
    print(f"The string ends with '{end_phrase}'.")
else:
    print(f"The string does not end with '{end_phrase}'.")

Enter a string:  shweta kadganche
Enter the phrase to check:  nimbenni

The string does not end with 'nimbenni'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [37]:
input_string = input("Enter the string:")

# Convert the string to title case
title_case_string = input_string.title()

print("Title case string:", title_case_string)

Enter the string: my name is shweta

Title case string: My Name Is Shweta

20. Find the longest word in a string.

In [38]:
#find_longest_word function takes an input string, splits it into words using the split() method, 
#and then uses the max() function with the key parameter set to len to find the word with the maximum length.

def find_longest_word(input_string):
    words = input_string.split()
    longest_word = max(words, key=len)
    return longest_word

user_input = input("Enter a string: ")
longest_word = find_longest_word(user_input)

print("Longest word:", longest_word)

Enter a string:  my name is shweta

Longest word: shweta

21. Find the shortest word in a string.

In [40]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = min(words, key=len)
    return shortest_word

user_input = input("Enter a string: ")
shortest_word = find_shortest_word(user_input)

print("Shortest word:", shortest_word)

Enter a string:  I am shweta

Shortest word: I

22. Reverse the order of words in a string.

In [41]:
def reverse_words_order(input_string):
    words = input_string.split()
    reversed_words = reversed(words)
    reversed_string = ' '.join(reversed_words)
    return reversed_string

user_input = input("Enter a string: ")
reversed_order = reverse_words_order(user_input)

print("String with reversed word order:", reversed_order)

Enter a string:  my name is shweta

String with reversed word order: shweta is name my

23. Check if a string is alphanumeric.

In [44]:
input_string = input("Enter String:")

if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter String: #@%^

The string is not alphanumeric.

In [1]:
def extract_digits(input_string):
    digits = ""
    for char in input_string:
        if char.isdigit():   # it will check if the  character is digit
            digits += char
    return digits

user_input = input("Enter a string: ")
digit_string = extract_digits(user_input)

print("Extracted digits:", digit_string)

Enter a string:  shwet5ta

Extracted digits: 5

25. Extract all alphabets from a string.

In [4]:
def extract_alphabets(input_string):
    alphabets = ""
    for char in input_string:
        if char.isalpha():
            alphabets += char
    return alphabets

user_input = input("Enter a string: ")
alphabet_string = extract_alphabets(user_input)

print("Extracted alphabets:", alphabet_string)

Enter a string:  shwet53664

Extracted alphabets: shwet

26. Count the number of uppercase letters in a string.

In [6]:
def count_uppercase(input_string):
    uppercase_count = 0
    for char in input_string:
        if char.isupper():  # it check character is upper
            uppercase_count += 1 # The += operator is used in Python for an augmented assignment. It is a shorthand way of updating the value of a variable by adding another value to it
    return uppercase_count

user_input = input("Enter a string: ")
uppercase_count = count_uppercase(user_input)

print("Number of uppercase letters:", uppercase_count)

Enter a string:  ShwetA

Number of uppercase letters: 2

27. Count the number of lowercase letters in a string.

In [7]:
def count_lowercase(input_string):
    lowercase_count = 0
    for char in input_string:
        if char.islower():  # it check character is lower
            lowercase_count += 1 # The += operator is used in Python for an augmented assignment. It is a shorthand way of updating the value of a variable by adding another value to it
    return lowercase_count

user_input = input("Enter a string: ")
lowercase_count = count_lowercase(user_input)

print("Number of uppercase letters:", lowercase_count)

Enter a string:  shweta

Number of uppercase letters: 6

28. Swap the case of each character in a string.

In [10]:
input_string = input("Enter a string: ")

# Swap the case of each character
swapped_string = input_string.swapcase() # The swapcase() method converts uppercase characters to lowercase and lowercase characters to uppercase

print("String with swapped case:", swapped_string)

Enter a string:  Shwet Kadganche

String with swapped case: sHWET kADGANCHE

29. Remove a specific word from a string.

In [12]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, "")

user_input = input("Enter a string: ")
word_to_remove = input("Enter the word to remove: ")

modified_string = remove_word(user_input, word_to_remove)

print("Modified string:", modified_string)

Enter a string:  shweta kadganche
Enter the word to remove:  shweta

Modified string:  kadganche

30. Check if a string is a valid email address.

In [14]:
import re # import re is a statement in Python that imports the built-in re module, which stands for "regular expressions

def is_valid_email(email):
    email_pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$' # Define a simple email pattern (this may not cover all valid cases)
    return re.match(email_pattern, email) is not None #re.match() function from the re module is used to match a regular expression pattern against an email address
                                                      # The is not None check is used to determine if the value returned by some_function() is not equal to None
user_email = input("Enter an email address: ")

if is_valid_email(user_email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Enter an email address:  shwet.kadganche1@gmail.com

Valid email address.

31. Extract the username from an email address string.

In [3]:
def extract_username(email):
    return email.split('@')[0] #split('@')[0] extracts the username part (the first element of the split result)

user_email = input("Enter an email address:")
username = extract_username(user_email)

print("Extracted username:", username)

Enter an email address:  shweta.kadganche@gmail.com

Extracted username: shweta.kadganche

32. Extract the domain name from an email address string.

In [7]:
def extract_domain(email):
    return email.split('@')[1] #split('@')[1] extracts the domain name part (the second element of the split result)

user_email = input("Enter an email address: ")
domain = extract_domain(user_email)

print("Extracted domain:", domain)

Enter an email address:  shweta.kadganche@gmail.com

Extracted domain: gmail.com

33. Replace multiple spaces in a string with a single space.

In [9]:
def replace_multiple_spaces(input_string):
    while '  ' in input_string: # uses a while loop to continuously replace occurrences of two or more consecutive spaces with a single space using the replace() method
        input_string = input_string.replace('  ', ' ')
    return input_string

user_input = input("Enter a string with multiple spaces: ")
modified_string = replace_multiple_spaces(user_input)

print("Modified string:", modified_string)

Enter a string with multiple spaces:  shwe   tea kadgan    che

Modified string: shwe tea kadgan che

34. Check if a string is a valid URL.

In [13]:
from urllib.parse import urlparse  #is part of the Python standard library, to parse and validate URLs.

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) # This attribute represents the scheme or protocol part of the URL (e.g., "http", "https", "ftp")
                                                   #This attribute represents the network location part of the URL, which typically includes the domain name or IP address (e.g., "www.example.com")
    except:
        return False

user_url = input("Enter a URL: ")

if is_valid_url(user_url):
    print("Valid URL.")
else:
    print("Invalid URL.")

Enter a URL:  https://www.youtube.com/watch?v=QUVvkZCnIOA

Valid URL.

35. Extract the protocol (http or https) from a URL string.

In [17]:
def extract_protocol(url):
    return url.split(':')[0] # it split from : and accept 0th index

user_url = input("Enter url:")
protocol = extract_protocol(user_url)

print("Extraeted url:", protocol)

Enter url:  https://www.youtube.com/watch?v=QUVvkZCnIOA

Extraeted url:  https

36. Find the frequency of each character in a string.

In [19]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

user_input = input("Enter a string: ")
char_freq = character_frequency(user_input)

print("Character frequencies:")
for char, freq in char_freq.items():
    print(f"'{char}': {freq}")

Enter a string:  shwetaaaaa

Character frequencies:
's': 1
'h': 1
'w': 1
'e': 1
't': 1
'a': 5

37. Remove all punctuation from a string.

In [5]:
import string #This imports the string module, which contains the string.punctuation constant.

def remove_punctuation(input_string): 
    translator = str.maketrans("", "", string.punctuation) 

user_input = input("Enter a string with punctuation: ")
no_punctuation = remove_punctuation(user_input) 

print("String without punctuation:", no_punctuation)

Enter a string with punctuation:  Sh#,weta:

String without punctuation: Shweta

38. Check if a string contains only digits.

In [6]:
input_str = input("Enter a string: ")
if input_str.isdigit(): #used to check contain only digits
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

Enter a string:  shweta23456

The string does not contain only digits.

39. Check if a string contains only alphabets.

In [8]:
input_string = input("Enter String:")
if input_string.isalpha(): # used to check only alphabets
    print("The string contains only Alphabets.")
else:
    print("The string contains does not Alphabets.")

Enter String: Shweta

The string contains only Alphabets.

40. Convert a string to a list of characters.

In [11]:
input_string = input("Enter String")
 
chars = list(input_string) # we can convert string to list using list()
print("String to List:", chars)

Enter String Shweta

String to List: ['S', 'h', 'w', 'e', 't', 'a']

41. Check if two strings are anagrams.

In [4]:
# function to check if two strings are
# anagram or not
def check(s1, s2):
	
	# the sorted strings are checked
	if(sorted(s1)== sorted(s2)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")		
		
# driver code
s1 = input("Enter String:")
s2 = input("Enter String:")
check(s1, s2)

Enter String: Listen
Enter String: silent

The strings aren't anagrams.

42. Encode a string using a Caesar cipher.

In [7]:
def caesar_cipher_encode(text, shift):
    result = ""
    for char in text:
        # Check if the character is a letter
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            if char.isupper():
                # Shift uppercase letter by 'shift' positions (wrap around if needed)
                encoded_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
            else:
                # Shift lowercase letter by 'shift' positions (wrap around if needed)
                encoded_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
        else:
            # If the character is not a letter, leave it unchanged
            encoded_char = char
        result += encoded_char
    return result

# Example usage:
text = input("Enter Text:")
shift = 3
encoded_text = caesar_cipher_encode(text, shift)
print("Encoded text:", encoded_text)

Enter Text: Hello Shweta

Encoded text: Khoor Vkzhwd

43. Decode a Caesar cipher encoded string.

In [9]:
def caesar_cipher_decode(encoded_text, shift):
    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Iterate through each character in the encoded text
    for char in encoded_text:
        # Check if the character is a letter
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            if char.isupper():
                # Shift the uppercase letter back by 'shift' positions (wrap around if needed)
                decoded_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
            else:
                # Shift the lowercase letter back by 'shift' positions (wrap around if needed)
                decoded_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
        else:
            # If the character is not a letter, leave it unchanged
            decoded_char = char

        # Append the decoded character to the result
        decoded_text += decoded_char

    return decoded_text

# Example usage:
encoded_text = input("Enter String")
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Decoded text:", decoded_text)

Enter String swheta

Decoded text: ptebqx

44. Find the most frequent word in a string.

In [1]:
import re
from collections import Counter

def most_frequent_word(text):
    # Use regular expression to find words (ignores punctuation and case)
    words = re.findall(r'\b\w+\b', text.lower())

    # Use Counter to count the occurrences of each word
    word_counts = Counter(words)

    # Find the most common word and its count
    most_common_word, count = word_counts.most_common(1)[0]

    return most_common_word, count

# Example usage:
text = input("Enter String:")
most_common_word, count = most_frequent_word(text)

print(f"The most frequent word is '{most_common_word}' with a count of {count}.")

Enter String: Hi this this is shweta shweta shweta

The most frequent word is 'shweta' with a count of 3.

45. Find all unique words in a string.

In [3]:
import re

def find_unique_words(text):
    # Use regular expression to find words (ignores punctuation and case)
    words = re.findall(r'\b\w+\b', text.lower())

    # Create a set to store unique words
    unique_words = set(words)

    return unique_words

# Example usage:
text = input("Enter String:")
unique_words = find_unique_words(text)

# Print the unique words
for word in unique_words:
    print(word)

Enter String: hi this is shweta nimbenni

shweta
hi
nimbenni
is
this

46. Count the number of syllables in a string.

In [2]:
def count_syllables(word):
    vowels = "AEIOUaeiou"
    syllable_count = 0
    prev_char_was_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_was_vowel:
                syllable_count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    # Adjust for common endings
    if word.endswith(("es", "ed")):
        syllable_count -= 1
    if word.endswith("e"):
        syllable_count -= 1

    # Ensure at least one syllable
    return max(1, syllable_count)

user_input = input("Enter a word: ")
syllable_count = count_syllables(user_input)

print("Number of syllables:", syllable_count)

Enter a word:  Shweta

Number of syllables: 2

47. Check if a string contains any special characters.

In [3]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match non-alphanumeric characters
    pattern = r'[^a-zA-Z0-9\s]'
    
    # Use re.search() to find the first match
    match = re.search(pattern, input_string)
    
    # If a match is found, it contains special characters; otherwise, it doesn't
    return match is not None

user_input = input("Enter a string: ")

if contains_special_characters(user_input):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  My name I$ Shweta

The string contains special characters.

48. Remove the nth word from a string.

In [5]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match non-alphanumeric characters
    pattern = r'[^a-zA-Z0-9\s]'
    
    # Use re.search() to find the first match
    match = re.search(pattern, input_string)
    
    # If a match is found, it contains special characters; otherwise, it doesn't
    return match is not None

user_input = input("Enter a string: ")

if contains_special_characters(user_input):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  my name is shweta

The string does not contain special characters.

49. Insert a word at the nth position in a string.

In [7]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    words = input_string.split()
    
    if n >= 1 and n <= len(words) + 1:
        words.insert(n - 1, word_to_insert)  # Subtract 1 to account for 0-based indexing
        return ' '.join(words)
    else:
        return input_string

user_input = input("Enter a string: ")
word_to_insert = input("Enter the word to insert: ")
n = int(input("Enter the position to insert the word (1-based indexing): "))

result = insert_word_at_nth_position(user_input, word_to_insert, n)

print("String after inserting the word:", result)

Enter a string:  Shweta
Enter the word to insert:  kadganche
Enter the position to insert the word (1-based indexing):  2

String after inserting the word: Shweta kadganche

50. Convert a CSV string to a list of lists.

In [8]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a CSV reader object using StringIO to read from the string
    csv_reader = csv.reader(StringIO(csv_string))
    
    # Convert the CSV data into a list of lists
    data = [row for row in csv_reader]
    
    return data

# Example CSV string
csv_string = "Name,Age,Location\nAlice,30,New York\nBob,25,San Francisco"

# Convert the CSV string to a list of lists
csv_data = csv_string_to_list(csv_string)

# Print the result
for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'San Francisco']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [9]:
my_list = [i for i in range(1,11)] # or my_list = list(range(1,11))

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [11]:
#take user input
string = input()
count = 0

for i in string:
    count+=1
print(count)

 shweta

6

3. Append an element to the end of a list.

In [12]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
new_element = 6
my_list.append(new_element)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [17]:
# Create a list
my_list = [1, 2, 4, 5]

# Insert an element at a specific index
new_element = 3
index_to_insert = 2  # Index where you want to insert the element

my_list.insert(index_to_insert, new_element)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 5]

5. Remove an element from a list by its value.

In [18]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove an element by its value
value_to_remove = 3

if value_to_remove in my_list:
    my_list.remove(value_to_remove)
else:
    print(f"{value_to_remove} is not in the list.")

# Print the updated list
print(my_list)

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [20]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove an element by its index
index_to_remove = 2  # Index of the element you want to remove

if 0 <= index_to_remove < len(my_list):
    my_list.pop(index_to_remove)
else:
    print("Index is out of range.")

# Print the updated list
print(my_list)

[1, 2, 4, 5]

7. Check if an element exists in a list.

In [2]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Element to check
element_to_check = input()

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

 6

6 does not exist in the list.

8. Find the index of the first occurrence of an element in a list.

In [4]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3]

# Element to find
element_to_find = input()

if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not in the list.")

 8

8 is not in the list.

9. Count the occurrences of an element in a list.

In [7]:
# Create a list
my_list = [1, 2, 3, 4, 5, 3, 3]

# Element to count
element_to_count = 3

count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 3 times in the list.

10. Reverse the order of elements in a list.

In [8]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Reverse the list
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [9]:
# Create a list
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order (in-place)
my_list.sort()

# Print the sorted list
print(my_list)

[1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [11]:
# Create a list
my_list = [5, 2, 8, 1, 3]

# Create a new sorted list in descending order
sorted_list = sorted(my_list, reverse=True)

# Print the sorted list
print(sorted_list)

[8, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [15]:
# Create a list of even numbers from 1 to 20
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

# Print the list of even numbers
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [16]:
# Create a list of even numbers from 1 to 20
even_numbers = [x for x in range(1, 21) if x % 2 == 1]

# Print the list of even numbers
print(even_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [18]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
total_sum = sum(my_list)

# Print the sum
print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 15

16. Find the maximum value in a list.

In [21]:
# Create a list
my_list = [12, 45, 67, 23, 9, 56]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("The maximum value in the list is:", max_value)

The maximum value in the list is: 67

17. Find the minimum value in a list.

In [22]:
# Create a list
my_list = [12, 45, 67, 23, 9, 56]

# Find the maximum value in the list
min_value = min(my_list)

# Print the maximum value
print("The minimum value in the list is:", min_value)

The minimum value in the list is: 9

18. Create a list of squares of numbers from 1 to 10.

In [23]:
# Create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [24]:
import random #The random module, which provides functions for generating random numbers.

# Create a list of random numbers
random_numbers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random numbers
print(random_numbers)

[46, 45, 85, 55, 68, 86, 42, 39, 30, 46]

20. Remove duplicates from a list.

In [25]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

# Print the list with duplicates removed
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [28]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using sets
set1 = set(list1)
set2 = set(list2)
common_elements = list(set1.intersection(set2)) #find the common elements and convert the result back to a list.

# Print the common elements
print(common_elements)

[3, 4, 5]

22. Find the difference between two lists.

In [29]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference using sets
set1 = set(list1)
set2 = set(list2)
difference = list(set1 - set2)

# Print the difference
print(difference)

[1, 2]

23. Merge two lists.

In [30]:
# Create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

# Print the merged list
print(merged_list)

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [31]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using list comprehension
my_list = [x * 2 for x in my_list]

# Print the modified list
print(my_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [32]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

# Print the filtered list
print(filtered_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [33]:
# Create a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Convert the strings to integers using map() and list()
integer_list = list(map(int, string_list))

# Print the list of integers
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [34]:
# Create a list of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the integers to strings using list comprehension
string_list = [str(integer) for integer in integer_list]

# Print the list of strings
print(string_list)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [35]:
# Define a function to flatten a nested list
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

# Create a nested list
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [36]:
# Function for nth Fibonacci number

def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")
	# First Fibonacci number is 0
	elif n == 1:
		return 0
	# Second Fibonacci number is 1
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

34

30. Check if a list is sorted.

In [38]:
def is_sorted(lst):
    n = len(lst)
    for i in range(n - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

# Example usage:
my_list = [1, 2, 3, 4, 5]
if is_sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

31. Rotate a list to the left by `n` positions.

In [39]:
def rotate_left(lst, n):
    if len(lst) == 0:
        return lst
    
    n %= len(lst)  # Ensure n is within the range of the list length
    return lst[n:] + lst[:n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_left(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [40]:
def rotate_right(lst, n):
    if len(lst) == 0:
        return lst
    
    n %= len(lst)  # Ensure n is within the range of the list length
    return lst[-n:] + lst[:-n]

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_right(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)

34. Split a list into chunks of size `n`.

In [43]:
def split_list_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunked_list = list(split_list_into_chunks(my_list, chunk_size))

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [44]:
def second_largest(lst):
    if len(lst) < 2:
        return "List has less than 2 elements"

    sorted_list = sorted(lst, reverse=True)
    return sorted_list[1]

# Example usage:
my_list = [10, 5, 8, 20, 2, 15]
result = second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 15

36. Replace every element in a list with its square.

In [45]:
def square_elements(lst):
    return [x ** 2 for x in lst]

# Example usage:
my_list = [1, 2, 3, 4, 5]
squared_list = square_elements(my_list)
print(squared_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [46]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

# Example usage:
my_list = ["apple", "banana", "cherry", "date"]
result_dict = list_to_dict(my_list)
print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [47]:
import random

def shuffle_list(lst):
    # Create a copy of the list to avoid modifying the original list
    shuffled_lst = lst.copy()
    random.shuffle(shuffled_lst)
    return shuffled_lst

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[2, 3, 1, 4, 5]

39. Create a list of the first 10 factorial numbers.

In [48]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(n) for n in range(1, 11)]

# Print the list of factorial numbers
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [49]:
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    common_elements = set1.intersection(set2)
    return len(common_elements) > 0

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

if have_common_element(list1, list2):
    print("The two lists have at least one common element.")
else:
    print("The two lists do not have any common elements.")

The two lists have at least one common element.

41. Remove all elements from a list.

In [50]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()  # Clear the list in-place
print(my_list)  # Output: []

[]

42. Replace negative numbers in a list with 0.

In [51]:
def replace_negatives_with_zero(lst):
    return [0 if num < 0 else num for num in lst]

# Example usage:
my_list = [1, -2, 3, -4, 5]
result_list = replace_negatives_with_zero(my_list)
print(result_list)

[1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [54]:
# Convert a string into a list of words
text = "This is a sample sentence."
word_list = text.split()

# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [55]:
# Convert a list of words into a string
word_list = ['This', 'is', 'a', 'sample', 'sentence.']
text = ' '.join(word_list)

# Print the resulting string
print(text)

This is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [56]:
n = 5  # Change n to the desired number of powers of 2
powers_of_2 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [58]:
def find_longest_string(strings):
    if not strings:
        return None  # Handle the case of an empty list
    return max(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = find_longest_string(string_list)
print("The longest string is:", longest_string)

The longest string is: elderberry

47. Find the shortest string in a list of strings.

In [59]:
def find_shortest_string(strings):
    if not strings:
        return None  # Handle the case of an empty list
    return min(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = find_shortest_string(string_list)
print("The shortest string is:", shortest_string)

The shortest string is: date

48. Create a list of the first `n` triangular numbers.

In [62]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)
    return triangular_numbers

# Example usage:
n = 5  # Change n to the desired number of triangular numbers
triangular_numbers = generate_triangular_numbers(n)
print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [63]:
def is_subsequence(sublist, mainlist):
    sub_len = len(sublist)
    main_len = len(mainlist)
    
    if sub_len > main_len:
        return False

    sub_index = 0  # Index for the sublist
    main_index = 0  # Index for the mainlist

    while main_index < main_len and sub_index < sub_len:
        if sublist[sub_index] == mainlist[main_index]:
            sub_index += 1
        main_index += 1

    return sub_index == sub_len

# Example usage:
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 6]

if is_subsequence(sub_list, main_list):
    print("sub_list is a subsequence of main_list.")
else:
    print("sub_list is not a subsequence of main_list.")

sub_list is a subsequence of main_list.

50. Swap two elements in a list by their indices.

In [ ]:
def swap_elements(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices")

# Example usage:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

swap_elements(my_list, index1, index2)
print(my_list)

[1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [66]:
my_tuple = (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [67]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print("The third element is:", third_element)

The third element is: 3

3. Find the length of a tuple without using the `len()` function.

In [68]:
def tuple_length(my_tuple):
    count = 0
    for _ in my_tuple:
        count += 1
    return count

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)
print("The length of the tuple is:", length)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [69]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2

count = my_tuple.count(element_to_count)

print("The element", element_to_count, "appears", count, "times in the tuple.")

The element 2 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [70]:
my_tuple = (1, 2, 3, 4, 5, 3, 6)
element_to_find = 3

index = my_tuple.index(element_to_find)

print("The first occurrence of", element_to_find, "is at index:", index)

The first occurrence of 3 is at index: 2

6. Check if an element exists in a tuple.

In [71]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

3 exists in the tuple.

7. Convert a tuple to a list.

In [72]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

8. Convert a list to a tuple.

In [73]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [74]:
my_tuple = (1, 2, 3)

# Unpack the tuple into variables
var1, var2, var3 = my_tuple

# Now, you can use var1, var2, and var3 as individual variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

10. Create a tuple of even numbers from 1 to 10.

In [75]:
even_numbers_tuple = tuple(range(2, 11, 2))
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [1]:
odd_numbers = [x for x in range(10) if x%2==1]
print(odd_numbers)

[1, 3, 5, 7, 9]

12. Concatenate two tuples.

In [3]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [4]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [5]:
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [6]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

print(nested_tuple)

((1, 2), (3, 4, 5), (6,))

16. Access the first element of a nested tuple.

In [7]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

first_element = nested_tuple[0]

print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: (1, 2)

17. Create a tuple with a single element.

In [8]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

18. Compare two tuples.

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare for equality
if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is not equal to tuple2")

# Compare for inequality
if tuple1 != tuple2:
    print("tuple1 is not equal to tuple2")
else:
    print("tuple1 is equal to tuple2")

# Compare for greater than
if tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

# Compare for less than
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

tuple1 is not equal to tuple2
tuple1 is not equal to tuple2
tuple1 is not greater than tuple2
tuple1 is less than tuple2

19. Delete a tuple.

In [11]:
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

# Trying to access the tuple after deletion will raise an error
# For example:
# print(my_tuple)  # This will raise a NameError because the tuple no longer exists

20. Slice a tuple.

In [13]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slicing to create a new tuple with elements from index 2 to 6 (inclusive) with a step of 2
sliced_tuple = my_tuple[2:7:2]

print(sliced_tuple)

(3, 5, 7)

21. Find the maximum value in a tuple.

In [14]:
my_tuple = (5, 2, 9, 1, 8, 4)

max_value = max(my_tuple)

print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 9

22. Find the minimum value in a tuple.

In [15]:
my_tuple = (5, 2, 9, 1, 8, 4)

min_value = min(my_tuple)

print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 1

23. Convert a string to a tuple of characters.

In [16]:
my_string = "Hello, World!"

# Using tuple comprehension to convert the string to a tuple of characters
char_tuple = tuple(char for char in my_string)

print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [18]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Using the join() method to convert the tuple to a string
resulting_string = ''.join(char_tuple)

print(resulting_string)

Hello, World!

25. Create a tuple from multiple data types.

In [19]:
mixed_tuple = (1, "Hello", 3.14, True)

print(mixed_tuple)

(1, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

27. Sort the elements of a tuple.

In [21]:
my_tuple = (5, 2, 9, 1, 8, 4)

# Convert the tuple to a list
my_list = list(my_tuple)

# Sort the list
my_list.sort()

# Convert the sorted list back to a tuple
sorted_tuple = tuple(my_list)

print("Original Tuple:", my_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (5, 2, 9, 1, 8, 4)
Sorted Tuple: (1, 2, 4, 5, 8, 9)

28. Convert a tuple of integers to a tuple of strings.

In [22]:
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

print(tuple_of_strings)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [23]:
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)

print(tuple_of_integers)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [24]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [25]:
def flatten_nested_tuple(nested_tuple):
    flattened_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_nested_tuple(item))
        else:
            flattened_list.append(item)
    return tuple(flattened_list)

nested_tuple = ((1, 2), (3, (4, 5)), 6, 7)

flattened_tuple = flatten_nested_tuple(nested_tuple)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [29]:
# Python program to display all the prime numbers within an interval

lower = 0
upper = 11

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 0 and 11 are:
2
3
5
7
11

33. Check if a tuple is a palindrome.

In [30]:
def is_palindrome_tuple(my_tuple):
    reversed_tuple = my_tuple[::-1]  # Reverse the tuple
    return my_tuple == reversed_tuple

# Test cases
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print("Is tuple1 a palindrome?", is_palindrome_tuple(tuple1))
print("Is tuple2 a palindrome?", is_palindrome_tuple(tuple2))

Is tuple1 a palindrome? True
Is tuple2 a palindrome? False

34. Create a tuple of squares of numbers from 1 to 5.

In [31]:
squares_tuple = tuple(x**2 for x in range(1, 6))

print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [32]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [33]:
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2
multiplied_tuple = tuple(x * 2 for x in original_tuple)

print(multiplied_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [34]:
import random

# Generate a tuple of 5 random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print(random_tuple)

(100, 58, 23, 15, 15)

38. Check if a tuple is sorted.

In [35]:
my_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted
is_sorted = my_tuple == tuple(sorted(my_tuple))

if is_sorted:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [36]:
def rotate_tuple_left(my_tuple, n):
    if n <= 0:
        return my_tuple  # No rotation needed

    n = n % len(my_tuple)  # Ensure n is within the tuple length
    rotated_tuple = my_tuple[n:] + my_tuple[:n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)

n = 2  # Rotate by 2 positions to the left

rotated_tuple = rotate_tuple_left(original_tuple, n)

print(rotated_tuple)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [37]:
def rotate_tuple_right(my_tuple, n):
    if n <= 0:
        return my_tuple  # No rotation needed

    n = n % len(my_tuple)  # Ensure n is within the tuple length
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)

n = 2  # Rotate by 2 positions to the right

rotated_tuple = rotate_tuple_right(original_tuple, n)

print(rotated_tuple)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [38]:
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]  # Initialize the sequence with the first two Fibonacci numbers
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Create a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [39]:
# Gather user input as a comma-separated string
user_input = input("Enter a comma-separated list of values: ")

# Split the input string into a list using a comma as the delimiter
input_list = user_input.split(',')

# Convert the list to a tuple
user_tuple = tuple(input_list)

print("User Tuple:", user_tuple)

Enter a comma-separated list of values:  shweta nimbenni

User Tuple: ('shweta nimbenni',)

43. Swap two elements in a tuple.

In [40]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Swap two elements (e.g., swap the elements at index 1 and 3)
index1, index2 = 1, 3
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Convert the list back to a tuple
my_tuple = tuple(my_list)

print(my_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [41]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple using slicing
reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [42]:
n = 5  # Change this to the desired number of powers of 2
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [43]:
# Create a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Initialize variables to store the longest string and its length
longest_string = ""
max_length = 0

# Iterate through the tuple to find the longest string
for string in my_tuple:
    if len(string) > max_length:
        longest_string = string
        max_length = len(string)

print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a tuple of strings.

In [44]:
# Create a tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Initialize variables to store the shortest string and its length
shortest_string = None
min_length = float('inf')

# Iterate through the tuple to find the shortest string
for string in my_tuple:
    if len(string) < min_length:
        shortest_string = string
        min_length = len(string)

print("Shortest string:", shortest_string)

Shortest string: date

48. Create a tuple of the first `n` triangular numbers.

In [45]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)
    return tuple(triangular_numbers)

# Create a tuple of the first 5 triangular numbers
first_5_triangular = generate_triangular_numbers(5)

print(first_5_triangular)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [46]:
def contains_subsequence(main_tuple, sub_tuple):
    # Initialize indices for the main tuple and sub tuple
    main_index = 0
    sub_index = 0

    # Iterate through the main tuple
    while main_index < len(main_tuple):
        # If the current element matches the corresponding element in the sub tuple, move both indices
        if main_tuple[main_index] == sub_tuple[sub_index]:
            sub_index += 1
            if sub_index == len(sub_tuple):
                return True  # Found the subsequence
        else:
            # If there is no match, reset the subsequence index and continue searching
            sub_index = 0
        main_index += 1

    # If we've gone through the entire main tuple without finding the subsequence, it's not there
    return False

# Example usage
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)

if contains_subsequence(main_tuple, sub_tuple):
    print("The main tuple contains the subsequence.")
else:
    print("The main tuple does not contain the subsequence.")

The main tuple contains the subsequence.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [47]:
n = 10  # Change this to the desired length
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [49]:
my_set = {1, 2, 3, 4, 5}

2. Add an element to a set.

In [50]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [51]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set
my_set.remove(3)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [52]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set using the 'in' operator
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [53]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Initialize a counter variable
count = 0

# Iterate through the set and count its elements
for _ in my_set:
    count += 1

# Print the length of the set
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [54]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print("Cleared set:", my_set)

Cleared set: set()

7. Create a set of even numbers from 1 to 10.

In [55]:
# Using a set comprehension to create a set of even numbers from 1 to 10
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [56]:
# Using a set comprehension to create a set of odd numbers from 1 to 10
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [57]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the 'union()' method
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [58]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets using the 'intersection()' method
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

{4, 5}

11. Find the difference between two sets.

In [59]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference between set1 and set2 using the 'difference()' method
difference_set = set1.difference(set2)

# Print the difference set
print(difference_set)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [60]:
# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the 'issubset()' method
is_subset = set1.issubset(set2)

# Print the result
if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [62]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the 'issuperset()' method
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [63]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the 'set()' constructor
my_set = set(my_list)

# Print the resulting set
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [64]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the 'list()' constructor
my_list = list(my_set)

# Print the resulting list
print(my_list)

[1, 2, 3, 4, 5]

15. Convert a set to a list.

In [65]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the 'list()' constructor
my_list = list(my_set)

# Print the resulting list
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [66]:
import random

# Create a set
my_set = {1, 2, 3, 4, 5}

# Generate a random element from the set
random_element = random.choice(list(my_set))

# Remove the random element from the set
my_set.remove(random_element)

# Print the updated set
print("Random element removed:", my_set)

Random element removed: {2, 3, 4, 5}

17. Pop an element from a set.

In [67]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [68]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint using the 'isdisjoint()' method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("set1 and set2 have no elements in common (they are disjoint).")
else:
    print("set1 and set2 have at least one element in common.")

set1 and set2 have no elements in common (they are disjoint).

19. Find the symmetric difference between two sets.

In [69]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between set1 and set2 using the 'symmetric_difference()' method
symmetric_diff = set1.symmetric_difference(set2)

# Print the symmetric difference
print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [70]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the 'update()' method
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [72]:
# Create a set of the first 5 prime numbers
prime_numbers_set = {2, 3, 5, 7, 11}

# Print the set of prime numbers
print(prime_numbers_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [73]:
# Create two sets with the same elements
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if set1 and set2 are identical using the '==' operator
are_identical = set1 == set2

# Print the result
if are_identical:
    print("set1 and set2 are identical.")
else:
    print("set1 and set2 are not identical.")

set1 and set2 are identical.

23. Create a frozen set.

In [74]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [75]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint
is_disjoint = set1.isdisjoint(set2)

if is_disjoint:
    print("The sets are disjoint.")
else:
    print("The sets have some common elements.")

The sets are disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [76]:
# Using a set comprehension to create a set of squares
squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [77]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in original_set if x % 2 != 0}

print(filtered_set)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [79]:
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
result_set = {x * 2 for x in original_set}

print(result_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [80]:
import random

# Create an empty set to store random numbers
random_set = set()

# Generate and add random numbers to the set
for _ in range(10):  # Generating 10 random numbers for example
    random_number = random.randint(1, 100)  # Replace the range with your desired range
    random_set.add(random_number)

print(random_set)

{69, 72, 76, 15, 16, 81, 21, 88, 56, 94}

29. Check if a set is empty.

In [81]:
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [82]:
# Create a nested set using frozensets
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [83]:
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using discard()
my_set.discard(3)

print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

In [84]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [85]:
my_string = "hello"

# Create a set from the characters in the string
my_set = set()

for char in my_string:
    my_set.add(char)

print(my_set)

{'e', 'h', 'o', 'l'}

34. Convert a set of strings to a set of integers.

In [87]:
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
int_set = {int(s) for s in string_set}

print(int_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [89]:
# Set of integers
int_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(i) for i in int_set}

print(string_set)

{'1', '4', '5', '3', '2'}

36. Create a set from a tuple.

In [90]:
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [91]:
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [92]:
my_set = {10, 5, 8, 15, 3}

# Find the maximum value in the set
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 15

39. Find the minimum value in a set.

In [93]:
my_set = {10, 5, 8, 15, 3}

# Find the minimum value in the set
min_value = min(my_set)

print("Minimum value in the set:", min_value)

Minimum value in the set: 3

40. Create a set from user input.

In [94]:
# Get user input as a comma-separated string
input_str = input("Enter elements separated by commas: ")

# Split the input string into a list of elements
input_list = input_str.split(",")

# Convert the list to a set
user_set = set(input_list)

print("User input as a set:", user_set)

Enter elements separated by commas:  shweta,nimbenni

User input as a set: {'shweta', 'nimbenni'}

41. Check if the intersection of two sets is empty.

In [95]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty using isdisjoint()
if set1.isdisjoint(set2):
    print("The sets have no common elements (intersection is empty).")
else:
    print("The sets have some common elements (intersection is not empty).")

The sets have no common elements (intersection is empty).

42. Create a set of the first 5 Fibonacci numbers.

In [96]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [97]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set and then back to a list
my_list_without_duplicates = list(set(my_list))

print(my_list_without_duplicates)

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [98]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
set3 = {1, 2, 2, 3, 4, 5}

# Check if set1 and set2 have the same elements (order doesn't matter)
if set1 == set2:
    print("set1 and set2 have the same elements.")
else:
    print("set1 and set2 do not have the same elements.")

# Check if set1 and set3 have the same elements (order and duplicates don't matter)
if set1 == set3:
    print("set1 and set3 have the same elements.")
else:
    print("set1 and set3 do not have the same elements.")

set1 and set2 have the same elements.
set1 and set3 have the same elements.

45. Create a set of the first `n` powers of 2.

In [99]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2_set = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2_set.add(power)
    return powers_of_2_set

# Create a set of the first 5 powers of 2
first_5_powers_of_2 = generate_powers_of_2(5)

print(first_5_powers_of_2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [100]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and the list
common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [101]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers_set = set()
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers_set.add(total)
    return triangular_numbers_set

# Create a set of the first 5 triangular numbers
first_5_triangular_numbers = generate_triangular_numbers(5)

print(first_5_triangular_numbers)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [103]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

# Check if set2 is a subset of set1 using issubset()
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [104]:
# Function to create a set of alternating 1s and 0s of length n
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

# Create a set of alternating 1s and 0s of length 5
alternating_set_5 = create_alternating_set(5)

print(alternating_set_5)

{0, 1}

50. Merge multiple sets into one.

In [105]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}